<%= turbo_frame_tag "new_confirmation" do %>
  <div class="mx-auto w-72 sm:w-96">
    <div class="flex flex-shrink-0 items-center">
    <%= render_logo %>
    </div>

    <h1> <%= t("users.confirmations.new.resend_confirmation.title") %> </h1>

    <%= form_with(model: User,  url: users_confirmations_url, html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="mort-field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mort-form-text", value: resource.email %>
      </div>

      <div class="actions mort-field">
        <%= f.submit t("users.confirmations.new.resend_confirmation.action"), class: "mort-btn-primary" %>
      </div>
    <% end %>

    <hr>
    <div class="actions mort-field">
      <%= render "users/shared/links" %>
    </div>

  </div>
<% end %>
