<li id="<%= dom_id team %>" class="flex items-center justify-between gap-x-6 py-5">
  <div class="min-w-0 w-full columns-2 md:columns-4 lg:columns-5">
    <%= render_text_column value: link_to(team.name, team_url(team)), css: "truncate mort-link-primary" do |value| %>
      <%= value %>
      <% if current_user.global_queries? %>
        <p class="text-xs"><%=  link_to team.account.name, team.account %> </p>
      <% end %>
    <% end %>
    <%= render_text_column value: Team.colors(team.team_color), css: "truncate" %>
    <%= render_text_column value: Team.locales(team.locale), css: "hidden md:block truncate" %>
    <%= render_text_column value: team.time_zone, css: "hidden lg:block truncate" %>
    <%= render_datetime_column value: team.updated_at, css: "hidden lg:block" %>
  </div>
  <div class="flex flex-none items-center gap-x-4 ">
<!--    <a href="<%#= product_stock_items_url(product) %>" class=" rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Lokationer<span class="sr-only">, GraphQL API</span></a>-->
    <%= render_contextmenu resource: team, resource_class: Team, alter: true, links: [ edit_team_url(team), team_url(team) ] %>
  </div>
</li>
