<div class="w-full">
  <div class="flex justify-between items-center">
    <div>
      <h1 class="font-bold text-4xl"> <%= @resource.name %> </h1>
      <%= link_to t(".user_status"), pos_employees_url(t: @resource.name, api_key: first_employee_token), class: "inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10", target: "_blank", data: { turbo_frame: '_top', turbo_stream: true } %>

    </div>
    <div class="grid gap-2 grid-cols-1 lg:grid-cols-2 items-center">
      <%= link_to t("#{ resource_class.table_name}.form.edit"), edit_resource_url, class: "mort-btn-primary" %>
    </div>
  </div>
  <div class="">
    <div class="ID mb-2"><strong>ID</strong><br/><%= @resource.id %></div>
    <%= render partial: "list_calendars", locals: { header_text: t("calendar.list_all_team_calendars"), list_url: team_calendars_url(@resource) } %>
    <%= render resource_class.form @resource, false %>
  </div>
  <hr>
  <div class="mt-3">
    <%= render "users/list" %>
    <%= render @resource.users %>
  </div>
</div>
