<li id="<%= dom_id holiday %>" class="flex items-center justify-between gap-x-6 py-5">
  <div class="min-w-0 w-full columns-3 md:columns-5">
    <%= render_text_column value: link_to(holiday.name, holiday_url(holiday)), css: "truncate mort-link-primary" do |value| %>
      <%= value %>
    <% end %>
    <%= render_date_column value: holiday.from_date, css: "hidden md:block text-right" %>
    <%= render_date_column value: holiday.to_date, css: "hidden md:block text-right" %>
    <%= render_text_column value: holiday.countries, css: "truncate" %>
    <%= render_datetime_column value: holiday.updated_at, css: "hidden md:block" %>
  </div>
  <div class="flex flex-none items-center gap-x-4 ">
<!--    <a href="<%#= product_stock_items_url(product) %>" class=" rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-xs ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Lokationer<span class="sr-only">, GraphQL API</span></a>-->
    <%= render_contextmenu resource: holiday, turbo_frame: "form", resource_class: Holiday, alter: true, links: [ edit_holiday_url(holiday), holiday_url(holiday) ] %>
  </div>
</li>
