<% content_for :head do %>

  <title><%= I18n.t("user_mailer.confetti.title") %></title>
  <style>
    /* Your custom CSS resets for email */
    /*
    * Here is where you can add your global email CSS resets.
    *
    * We use a custom, email-specific CSS reset, instead
    * of Tailwind's web-optimized `base` layer.
    *
    * Styles defined here will be inlined.
    */
    img {
        max-width: 100%;
        vertical-align: middle
    }
    /* Tailwind CSS components */
    /**
    * @import here any custom CSS components - that is, CSS that
    * you'd want loaded before the Tailwind utilities, so the
    * utilities can still override them.
    */
    /* Tailwind CSS utility classes */
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0
    }
    .absolute {
        position: absolute
    }
    .m-0 {
        margin: 0
    }
    .my-12 {
        margin-top: 48px;
        margin-bottom: 48px
    }
    .my-8 {
        margin-top: 32px;
        margin-bottom: 32px
    }
    .mb-1 {
        margin-bottom: 4px
    }
    .mb-4 {
        margin-bottom: 16px
    }
    .mb-6 {
        margin-bottom: 24px
    }
    .inline-block {
        display: inline-block
    }
    .flex {
        display: flex
    }
    .table {
        display: table
    }
    .hidden {
        display: none
    }
    .h-5 {
        height: 20px
    }
    .h-6 {
        height: 24px
    }
    .w-1\/2 {
        width: 50%
    }
    .w-12 {
        width: 48px
    }
    .w-5 {
        width: 20px
    }
    .w-6 {
        width: 24px
    }
    .w-\[552px\] {
        width: 552px
    }
    .w-\[600px\] {
        width: 600px
    }
    .w-full {
        width: 100%
    }
    .max-w-full {
        max-width: 100%
    }
    .cursor-default {
        cursor: default
    }
    .justify-center {
        justify-content: center
    }
    .space-x-6 > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(24px * var(--tw-space-x-reverse));
        margin-left: calc(24px * calc(1 - var(--tw-space-x-reverse)))
    }
    .rounded {
        border-radius: 4px
    }
    .bg-slate-200 {
        background-color: #e2e8f0
    }
    .bg-slate-300 {
        background-color: #cbd5e1
    }
    .bg-slate-50 {
        background-color: #f8fafc
    }
    .bg-white {
        background-color: #fff
    }
    .bg-cover {
        background-size: cover
    }
    .bg-top {
        background-position: top
    }
    .bg-no-repeat {
        background-repeat: no-repeat
    }
    .p-0 {
        padding: 0
    }
    .p-12 {
        padding: 48px
    }
    .p-6 {
        padding: 24px
    }
    .px-12 {
        padding-left: 48px;
        padding-right: 48px
    }
    .px-6 {
        padding-left: 24px;
        padding-right: 24px
    }
    .py-4 {
        padding-top: 16px;
        padding-bottom: 16px
    }
    .pb-8 {
        padding-bottom: 32px
    }
    .pl-4 {
        padding-left: 16px
    }
    .pr-4 {
        padding-right: 16px
    }
    .text-left {
        text-align: left
    }
    .text-center {
        text-align: center
    }
    .text-right {
        text-align: right
    }
    .align-top {
        vertical-align: top
    }
    .font-sans {
        font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", sans-serif
    }
    .text-2xl {
        font-size: 24px
    }
    .text-4xl {
        font-size: 36px
    }
    .text-base {
        font-size: 16px
    }
    .text-base\/none {
        font-size: 16px;
        line-height: 1
    }
    .text-lg {
        font-size: 18px
    }
    .text-sm {
        font-size: 14px
    }
    .text-xl {
        font-size: 20px
    }
    .text-xs {
        font-size: 12px
    }
    .font-semibold {
        font-weight: 600
    }
    .uppercase {
        text-transform: uppercase
    }
    .italic {
        font-style: italic
    }
    .leading-12 {
        line-height: 48px
    }
    .leading-16 {
        line-height: 64px
    }
    .leading-6 {
        line-height: 24px
    }
    .leading-8 {
        line-height: 32px
    }
    .text-black {
        color: #000
    }
    .text-gray-400 {
        color: #9ca3af
    }
    .text-gray-500 {
        color: #6b7280
    }
    .text-sky-700 {
        color: #4338ca
    }
    .text-sky-700 {
        color: #0369a1
    }
    .text-slate-500 {
        color: #64748b
    }
    .text-slate-600 {
        color: #475569
    }
    .text-slate-700 {
        color: #334155
    }
    .text-white {
        color: #fff
    }
    .mso-font-width-\[150\%\] {
        mso-font-width: 150%
    }
    .shadow-sm {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)
    }
    .no-underline {
        text-decoration: none
    }
    .\[-webkit-font-smoothing\:antialiased\] {
        -webkit-font-smoothing: antialiased
    }
    .\[text-decoration\:none\] {
        text-decoration: none
    }
    .\[word-break\:break-word\] {
        word-break: break-word
    }
    /* Your custom utility classes */
    /*
    * Here is where you can define your custom utility classes.
    *
    * We wrap them in the `utilities` @layer directive, so
    * that Tailwind moves them to the correct location.
    *
    * More info:
    * https://tailwindcss.com/docs/functions-and-directives#layer
    */
    .hover\:text-gray-500:hover {
        color: #6b7280 !important
    }
    .hover\:text-sky-500:hover {
        color: #6366f1 !important
    }
    .hover\:\!\[text-decoration\:underline\]:hover {
        text-decoration: underline !important
    }
    @media (max-width: 600px) {
        .sm\:my-8 {
            margin-top: 32px !important;
            margin-bottom: 32px !important
        }
        .sm\:inline-block {
            display: inline-block !important
        }
        .sm\:w-6 {
            width: 24px !important
        }
        .sm\:w-full {
            width: 100% !important
        }
        .sm\:px-0 {
            padding-left: 0 !important;
            padding-right: 0 !important
        }
        .sm\:px-4 {
            padding-left: 16px !important;
            padding-right: 16px !important
        }
        .sm\:px-6 {
            padding-left: 24px !important;
            padding-right: 24px !important
        }
        .sm\:py-8 {
            padding-top: 32px !important;
            padding-bottom: 32px !important
        }
        .sm\:pb-8 {
            padding-bottom: 32px !important
        }
        .sm\:text-3xl {
            font-size: 30px !important
        }
        .sm\:leading-10 {
            line-height: 40px !important
        }
        .sm\:leading-8 {
            line-height: 32px !important
        }
    }

  </style>
<% end %>

<div class="hidden">
  <%= I18n.t("user_mailer.confetti.preheader") %>
  &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; &#8199;&#65279;&#847; 
</div>
<div role="article" aria-roledescription="email" aria-label="invite.title" lang="da">
  <div class="bg-slate-50 sm:px-4 font-sans">
    <table align="center" cellpadding="0" cellspacing="0" role="none">
      <tr>
        <td class="w-[552px] max-w-full">
          <div class="my-12 sm:my-8 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 180 180" width="48px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g>
                <path style="opacity:1" fill="#249dd7" d="M 34.5,80.5 C 33.3709,82.6282 33.2042,84.9615 34,87.5C 34.5133,86.4734 35.0133,85.4734 35.5,84.5C 41.2654,66.9061 52.2654,53.7394 68.5,45C 74.8169,42.6643 80.6502,43.4976 86,47.5C 86.6667,48.8333 87.3333,50.1667 88,51.5C 87.5315,62.9682 86.1982,74.3015 84,85.5C 90.5201,67.6548 102.02,54.1548 118.5,45C 126.07,42.078 132.57,43.578 138,49.5C 139.047,52.0385 139.547,54.7052 139.5,57.5C 137.641,71.6061 135.141,85.6061 132,99.5C 131.121,104.287 131.455,108.953 133,113.5C 137.622,115.171 141.789,114.338 145.5,111C 151.5,104.667 157.5,98.3333 163.5,92C 167.166,90.729 169.666,91.8956 171,95.5C 172.562,102.507 171.229,108.841 167,114.5C 159.858,123.657 151.024,130.49 140.5,135C 133.582,136.551 126.582,136.884 119.5,136C 110.772,132.062 106.439,125.228 106.5,115.5C 107.689,103.198 109.689,91.0316 112.5,79C 112.826,76.7292 111.992,75.2292 110,74.5C 107.719,75.7763 105.719,77.4429 104,79.5C 93.747,95.918 86.4137,113.585 82,132.5C 69.5538,140.528 61.8871,137.195 59,122.5C 59.0059,106.454 59.8392,90.4544 61.5,74.5C 59.6916,74.4914 58.0249,74.9914 56.5,76C 46.09,92.103 38.9233,109.603 35,128.5C 31.0463,136.504 24.8797,138.671 16.5,135C 14.1064,133.048 12.6064,130.548 12,127.5C 6.97601,100.797 9.30934,74.7971 19,49.5C 25.7177,43.0151 33.0511,42.0151 41,46.5C 41.1667,47.3333 41.3333,48.1667 41.5,49C 39.0852,59.4915 36.7519,69.9915 34.5,80.5 Z"></path>
              </g>
              <g>
                <path style="opacity:1" fill="#abd9ef" d="M 34.5,80.5 C 34.2322,82.099 34.5655,83.4324 35.5,84.5C 35.0133,85.4734 34.5133,86.4734 34,87.5C 33.2042,84.9615 33.3709,82.6282 34.5,80.5 Z"></path>
              </g>
            </svg>
          </div>
          <table class="w-full" cellpadding="0" cellspacing="0" role="none">
            <tr>
              <td class="p-12 sm:px-6 text-base text-slate-700 bg-white rounded shadow-sm">
                <h1 class="m-0 mb-6 text-base sm:leading-8 text-black font-semibold">
                  <%= I18n.t("user_mailer.confetti.hi") %>                  
                </h1>
                <p class="m-0 leading-6">
                  <%= raw I18n.t("user_mailer.confetti.you", name: @name, tenant: @company) %>
                  <br>
                  <br>
                  <%= raw I18n.t("user_mailer.confetti.introduction") %>
                </p>
                <div role="separator" class="false bg-slate-200" style="height: 1px; line-height: 1px; margin: 0; margin-top: 32px; margin-bottom: 32px">&zwj;</div>
                <p class="m-0 text-sm text-gray-500">
                  <%= I18n.t("user_mailer.confetti.rights") %>
                </p>
                <div class="my-8 text-sm">
                  <%= I18n.t("user_mailer.confetti.salutations") %>
                  <br>
                  <strong class="text-sky-700 text-xl">
                    <%= @company %>
                  </strong>
                  <br>
                  <br>
                  <span class="text-sm italic text-gray-500"><%= @sender %></span>
                </div>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center text-slate-600 text-xs px-6">
                <p class="m-0 mb-4 uppercase">
                  M O R T I M E R
                </p>
                <p class="m-0 italic">
                  The most easy, fast, and affordable Time & Attendance software in Europe. Most likely.
                </p>
                <p class="cursor-default"></p>
                <%= render SomelinksComponent.new %>
                <p></p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
