<h1><%= I18n.t("employee_mailer.confetti_first_punch.title") %></h1>
<p>
  <%= I18n.t("employee_mailer.confetti_first_punch.introduction") %>
</p>
<p>
  <%= I18n.t("employee_mailer.confetti_first_punch.regards") %>
</p>
<p><%= @company %></p>
<p><%= @sender %></p>
