<h1><%= I18n.t("employee_mailer.invite.title", account: @company) %></h1>
<p>
  <%= I18n.t("employee_mailer.invite.introduction", inviter: @sender, account: @company) %>
</p>
<p>
  <%= I18n.t("employee_mailer.invite.action", url: @url) %>
</p>
<p>
  <%= I18n.t("employee_mailer.invite.regards") %>
</p>
<p><%= @company %></p>
<p><%= @sender %></p>
