<h1><%= I18n.t("users.reports.eu_state.title") %></h1>
<p>
  <%== I18n.t("users.reports.eu_state.introduction") %>
</p>

<table>
  <thead>
    <th><%= I18n.t("users.reports.eu_state.name") %></th>
    <th><%= I18n.t("users.reports.eu_state.6hrs") %></th>
    <th><%= I18n.t("users.reports.eu_state.8hrs") %></th>
    <th><%= I18n.t("users.reports.eu_state.11hrs") %></th>
    <th><%= I18n.t("users.reports.eu_state.24hrs") %></th>
    <th><%= I18n.t("users.reports.eu_state.48hrs") %></th>

  </thead>
  <tbody>
    <% @users.each do |employee| %>
      <tr>
        <td><%= user.name %></td>
        <%== positive_column(user.min_6_hrs_rest_break) %>
        <%== positive_column(user.max_8_hrs_night) %>
        <%== positive_column(user.min_11_hrs_rest) %>
        <%== positive_column(user.min_24_hrs_rest_weekly) %>
        <%== positive_column(user.max_48_hrs_per_7_days) %>
      </tr>
    <% end %>
  </tbody>
</table>

<%== I18n.t("users.reports.eu_state.notice_missing_data") %>
