<%= form_with(url: modal_index_url) do |form| %>
  <div class="sm:flex sm:items-start">
    <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
      <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
      </svg>
    </div>
    <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
      <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal_title"> <%= t('punch_cards.modal.payroll_title') %></h3>
      <div class="mt-2">
        <p class="text-sm text-gray-500"> <%= t('punch_cards.modal.payroll_instruction') %></p>

        <%= form.hidden_field :modal_form, value: 'payroll' %>
        <%= form.hidden_field :resource_class, value: 'punch_card' %>
        <%= form.label :last_payroll_at, t('modal.payroll.last_payroll_at') %>
        <%= form.date_field :last_payroll_at, autofocus: true, required: true, class: "mort-form-date" %>

        <div class="relative flex items-start mt-3">
              <div class="flex h-6 items-center">
                <input id="update_payroll" aria-describedby="comments-description" name="update_payroll" type="checkbox" class="h-4 w-4 rounded-sm border-gray-300 text-sky-600 focus:ring-sky-600">
              </div>
              <div class="ml-3 text-sm leading-6">
                <label for="update_payroll" class="font-medium text-gray-900"><%= t('punch_cards.modal.update_payroll') %></label>
                <p id="comments-description" class="text-gray-500"><%= t('punch_cards.modal.update_payroll_instructions') %></p>
              </div>
            </div>
        <%#= form.check_box :update_payroll, class: "mort-form-text" %>
        <%#= form.label :update_payroll %>

      </div>
    </div>
  </div>
  <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
    <%= form.button t(:order_payroll), class: "mort-btn-primary sm:ml-3" %>
    <%= button_tag t(:cancel), form: "dialog_form", formmethod: :dialog, class: "mort-btn-cancel" %>
  </div>
<% end %>
