<%= form_with(url: modal_index_url, method: :post, multipart: true) do |form| %>
  <div class="sm:flex sm:items-start">
    <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-purple-100 sm:mx-0 sm:h-10 sm:w-10">

      <svg class="h-6 w-6 text-purple-700" fill="currentColor"  xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"  stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path d="M280-80q-33 0-56.5-23.5T200-160q0-33 23.5-56.5T280-240q33 0 56.5 23.5T360-160q0 33-23.5 56.5T280-80Zm400 0q-33 0-56.5-23.5T600-160q0-33 23.5-56.5T680-240q33 0 56.5 23.5T760-160q0 33-23.5 56.5T680-80ZM246-720l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692-482q-11 20-29.5 31T622-440H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z"/>
      </svg>
    </div>
    <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
      <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal_title"> <%= t("tenant.modal.buy_product.title") %></h3>
      <div class="mt-2">
        <p class="text-sm text-gray-500 pb-3"> <%== t("tenant.modal.buy_product.instruction") %></p>

        <%= form.hidden_field :modal_form, value: @modal_form %>
        <%= form.hidden_field :resource_class, value: @resource_class %>
        <%= form.hidden_field :step, value: @step %>
        <%= form.hidden_field :search, value: @search %>

        <%= link_to url, class: "mort-btn-primary bg-purple-600 sm:ml-3" do %>
          <%= t("tenant.modal.buy_product.go_to_stripe") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
    <%#= form.button t("tenant.modal.buy_product.accept"), class: "mort-btn-primary bg-purple-600 sm:ml-3" %>
    <%= button_tag t(:cancel), form: "dialog_form", formmethod: :dialog, class: "mort-btn-cancel" %>
  </div>
<% end %>
