<% content_for :head do %>

  <title><%= I18n.t("user_mailer.user_farewell.title") %></title>
  <style>
  </style>
<% end %>
<% content_for :email_body do %>
  <h1 class="m-0 mb-6 text-base sm:leading-8 text-black font-semibold">
    <%= I18n.t("user_mailer.salutations", name: @name) %>
  </h1>
  <p class="m-0 leading-6">
      <%= raw I18n.t("user_mailer.user_farewell.you", name: @name, tenant: @company) %>
      <br>
      <br>
      <%= raw I18n.t("user_mailer.user_farewell.introduction") %>
  </p>
  <div role="separator" class="false bg-slate-200" style="height: 1px; line-height: 1px; margin: 0; margin-top: 32px; margin-bottom: 32px">&zwj;</div>
  <p class="m-0 text-sm text-gray-500">
      <%= I18n.t("user_mailer.user_farewell.rights") %>
  </p>
  <%= render MortimerMailSignature.new %>
<% end %>
