<li id="<%= dom_id punch %>" class="flex items-center justify-between gap-x-6 py-5">
  <div class="min-w-0 w-full columns-3 md:columns-4 lg:columns-5">
    <%= render_text_column value: link_to(punch.employee.name, employee_url(punch.employee)), css: "truncate mort-link-primary" %>
    <%= render_text_column value: link_to(punch.punched_at.strftime("%d/%m/%y %H:%M"), punch_url(punch)), css: "mort-link-primary text-right" %>
    <%= render_text_column value: I18n.t("punch.#{punch.state}"), css: "truncate" %>
    <%= render_text_column value: show_link_to_punch_clock(punch.punch_clock), css: "hidden md:block truncate" %>
    <%= render_date_column value: punch.updated_at, css: "hidden lg:block" %>
  </div>
  <div class="flex flex-none items-center gap-x-4 ">
<!--    <a href="<%#= product_stock_items_url(product) %>" class=" rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Lokationer<span class="sr-only">, GraphQL API</span></a>-->
    <%= render_contextmenu resource: punch %>
  </div>
</li>
