  <li id="<%= dom_id invoice %>"  class="flex justify-between gap-x-6 py-5">
    <div class="flex min-w-0 gap-x-4">
      <!-- TODO add mugshots for invoices <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
      <div class="min-w-0 flex">
        <p class="text-sm font-semibold leading-6 text-gray-900">
          <%= show_resource_link(resource: invoice) %>, <%= I18n.t("invoices.invoice_meta", number: invoice.invoice_number, date: invoice.invoice_date.to_date) %> 
          <% if global_queries? Current.user %>
            <span class="text-xs"><%= show_resource_link(resource: invoice.tenant) %> </span>
          <% end %>
        </p>
        <p class="flex text-xs leading-5 text-gray-500">
          <%= I18n.t("invoices.invoice_for", total_ex: invoice.total_excl_vat_in_dkk, paid_at: invoice.payment_date.to_date ) %>
        </p>
      </div>
    </div>
    <div class="flex shrink-0 items-center gap-x-6">
      <div class="hidden sm:flex sm:flex-col sm:items-end">
        <p class="text-sm leading-6 text-gray-900"><%= show_resource_link(resource: invoice.customer) %> </p>
        <p class="mt-1 text-xs leading-5 text-gray-500"><%= I18n.t("last_update")%> <time datetime="<%= invoice.updated_at %>"><%= time_ago_in_words invoice.updated_at %> <%= I18n.t("ago") %></time></p>
      </div>
      <%= render_contextmenu resource: invoice, cls: "relative flex-none", turbo_frame: "form", resource_class: Invoice, alter: true, links: [ edit_invoice_url(invoice), invoice_url(invoice) ] %>
    </div>
  </li>
