<div class="mx-auto w-72 sm:w-96">
  <div class="flex flex-shrink-0 items-center">
  <%= render_logo %>
  </div>
  <h1> <%= t("devise.unlocks.new.resend_unlock.title") %> </h1>

  <%= form_for(resource, as: resource_name, url: user_unlock_path(), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="mort-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mort-form-text", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions mort-field">
      <%= f.submit t("devise.unlocks.new.resend"), class: "mort-btn-primary" %>
    </div>
  <% end %>

  <hr>
  <div class="actions mort-field">
    <%= render "users/shared/links" %>
  </div>

</div>

