<li id="<%= dom_id time_material %>"  class="flex justify-between gap-x-4 gap-y-2 py-5">
  <div class="w-3/4 flex grow flex-col ">
    <!-- TODO add mugshots for time_materials <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt=""> -->
    <p class=" flex-nowrap mort-tm-line-customer leading-6 truncate "><%= show_time_material_customer_link(resource: time_material) %> </p>
    <p class="grow mort-tm-line-product leading-5 truncate">
      <%= show_time_material_resource_link(resource: time_material) %>
      <%# if global_queries? Current.user %>
        <!-- <span class="text-xs"><%= show_resource_link(resource: time_material.tenant) %> </span>-->
      <%# end %>
    </p>
  </div>
  <div class="w-1/4 flex grow-0 flex-col items-end text-right ">
    <div class="flex items-center gap-x-2">
      <div class="">
        <p class="mort-tm-line-customer leading-6">
          <span class="<%= time_material.is_invoice? ? "" : "hidden" %> w-fit inline-flex items-center rounded-md bg-green-50 px-1 xs:px-2 py-0.5 text-2xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 truncate">
            f
            <span class="hidden sm:inline">akturérbar</span>
          </span>
          <span class="<%= time_material.is_free? ? "text-red-500" : "" %>"><%= time_material.time %> t</span>
        </p>
        <p class="mort-tm-line-product float-right leading-5 flex items-center">
          <svg class="h-5 <%= time_material.pushed_to_erp? ? "" : "hidden" %> mr-2" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="14px" fill="#5f6368">
            <path d="M240-80q-33 0-56.5-23.5T160-160v-400q0-33 23.5-56.5T240-640h40v-80q0-83 58.5-141.5T480-920q83 0 141.5 58.5T680-720v80h40q33 0 56.5 23.5T800-560v400q0 33-23.5 56.5T720-80H240Zm0-80h480v-400H240v400Zm240-120q33 0 56.5-23.5T560-360q0-33-23.5-56.5T480-440q-33 0-56.5 23.5T400-360q0 33 23.5 56.5T480-280ZM360-640h240v-80q0-50-35-85t-85-35q-50 0-85 35t-35 85v80ZM240-160v-400 400Z"/>
          </svg>
          <span class="truncate"> <%= I18n.l time_material.created_at, format: :short %> </span>
        </p>
      </div>
      <%= render_contextmenu resource: time_material, cls: "relative flex-none", turbo_frame: "form", resource_class: TimeMaterial, alter: true, links: [ edit_time_material_url(time_material), time_material_url(time_material) ] %>
    </div>
  </div>
</li>
