<div id="<%= dom_id time_material %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Tenant:</strong>
    <%= time_material.tenant_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= time_material.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Time:</strong>
    <%= time_material.time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">About:</strong>
    <%= time_material.about %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Customer:</strong>
    <%= time_material.customer %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Customer:</strong>
    <%= time_material.customer_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Project:</strong>
    <%= time_material.project %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Project:</strong>
    <%= time_material.project_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= time_material.product %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Product:</strong>
    <%= time_material.product_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= time_material.quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rate:</strong>
    <%= time_material.rate %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Discount:</strong>
    <%= time_material.discount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is invoice:</strong>
    <%= time_material.is_invoice %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is free:</strong>
    <%= time_material.is_free %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is offer:</strong>
    <%= time_material.is_offer %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Is separate:</strong>
    <%= time_material.is_separate %>
  </p>

</div>
