<%= turbo_stream_from @resources_stream %>
<%= form_with model: @batch, id: "batch_form", data: { controller: "list" } do |form| %>
  <%= render partial: "header", locals: { batch_form: form, divider: true } %>
  <div id="list" role="list" class="">
    <%= form.hidden_field :id%>
    <%= form.hidden_field :entity %>
    <%= form.hidden_field :ids_range, value: @ids_range %>
    <div id="record_list" class="scrollbar-hide">
      <%= render List.new records: @records, pagy: @pagy, initial: true, params: params, order_by: {wdate: :desc}, user: Current.user %>
    </div>

  </div>
<% end %>
<%= time_material_buttons(user: current_user) %>

<% # notify user instead !! %>
<% # if Current.user.tasks.first_tasks.uncompleted %>
  <%#= render partial: "toast", locals: { count: Current.user.tasks.first_tasks.uncompleted.count } %>
<% # end %> 
