<li id="<%= dom_id employee_invitation %>" class="flex items-center justify-between gap-x-6 py-5">
  <div class="min-w-0 w-full columns-3 md:columns-4 lg:columns-5">
    <%= render_text_column value: link_to(employee_invitation.address, employee_invitation_url(employee_invitation)), css: "truncate mort-link-primary" %>
    <%= render_text_column value: employee_invitation.state, css: "truncate" %>
    <%= render_text_column value: display_employee_invition_state_date(employee_invitation), css: "truncate text-right" %>
    <%= render_text_column value: employee_invitation.user.name, css: "hidden md:block truncate" %>
    <%= render_datetime_column value: employee_invitation.updated_at, css: "hidden lg:block" %>
  </div>
  <div class="flex flex-none items-center gap-x-4 ">
<!--    <a href="<%#= product_stock_items_url(product) %>" class=" rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Lokationer<span class="sr-only">, GraphQL API</span></a>-->
    <%= render_contextmenu resource: employee_invitation, resource_class: EmployeeInvitation, alter: true, links: [ edit_employee_invitation_url(employee_invitation), employee_invitation_url(employee_invitation) ] %>
  </div>
</li>
