<div class="min-w-0 w-full columns-3 md:columns-4 lg:columns-5">
  <%= render_text_column value: t('.address'), sort: params, field: :address, css: "font-bold truncate" %>
  <%= render_text_column value: t(".state"), sort: params, field: "state", css: "font-bold truncate" %>
  <%= render_text_column value: t(".state_date"), css: "font-bold text-right" %>
  <%= render_text_column value: t(".invited_by"), sort: params, field: "users.name", css: "hidden md:block font-bold " %>
  <%= render_text_column value: t(".updated_at"), css: "hidden lg:block font-bold " %>
</div>
