<div 
  id="<%= dom_id(user) %>" 
  class=" relative flex items-center space-x-3 rounded-lg border-l-8 <%= set_border_color user %> <%= set_bg_color_on_state user.state %> px-6 py-3 shadow-sm focus-within:ring-1 focus-within:ring-sky-500 focus-within:ring-offset-2 hover:border-gray-400">
  <div class="flex-shrink-0">
    <%#= render_mugshot( user, class: "h-8 w-8 rounded-full ring-4 ring-white sm:h-10 sm:w-10" )  %>
    <%#= img(src: url_for(model.send(field.key)), class: "h-18 w-16 rounded-full ring-4 ring-white") %>
    <%== user_mugshot( user, css: "h-15 w-14 rounded-full ring-4 ring-white") %>
  </div>
  <div class="min-w-0 flex-1">
    <div >
      <p>
        <div class="text-sm font-medium text-gray-900 truncate">
          <%= display_public user.name %>
        </div>
        <span class="works text-xs text-gray-500 float-right"><%= display_todays_work user %></span>
      </p>
      <p class="truncate text-xs text-gray-500">
        <span class=""><%= display_short_work_date user %></span>
        <span class="breaks float-right mr-1"><%= display_todays_break user %></span>
      </p>
    </div>
  </div>
</div>
