<% content_for :head do %>
    <%= render partial: 'layouts/mobile_header' %>
    <meta name="screen-orientation"  content="landscape">
<% end %>
<% 

  content_for :nav do 
    render NavigationComponent.new( items: [
      # { title: I18n.t('menu.pos.profile'), url: pos_punch_cards_url( api_key: @resource.access_token, employee: {id: @employee.id} ) },
      # { title: I18n.t('menu.pos.payroll_period'), url: pos_punch_cards_url( api_key: @resource.access_token, employee: {id: @employee.id} ) }
    ])
  end 

  content_for :footer do 
    render_mortimer_footer(request: request)
  end

  content_for :flash do
    render FlashComponent.new flash: flash
  end
  
%>

<div
  data-controller="punch-clock"
  data-punch-clock-punch-clock-asset-id-value="<%= @resource.id %>"
  data-punch-clock-apikey-value="<%= @resource.access_token %>"
  data-punch-clock-url-value="<%= pos_punch_clock_url %>"
  data-action="keydown@window->punch-clock#keydownHandler"
  class="h-screen w-full divide-y divide-gray-200 overflow-hidden bg-white">
  <%= render_punch_clock_header(resource: @resource, employee: @employee) %>
  <%= render PunchClockPunch.new resource: @resource, employee: @employee, tab: params[:tab] %>
</div>
