<div class="min-w-0 w-full columns-2 md:columns-3 lg:columns-4 xl:columns-6">
  <%= render_text_column value: t('.name'), sort: params, field: :name, css: "font-bold truncate" %>
  <%= render_text_column value: t(".street"), sort: params, field: :street, css: "hidden lg:block font-bold truncate" %>
  <%= render_text_column value: t(".city"), sort: params, field: :city, css: "hidden xl:block font-bold truncate" %>
  <%= render_text_column value: t(".phone"), sort: params, field: :phone, css: "font-bold truncate" %>
  <%= render_text_column value: t(".email"), sort: params, field: :email, css: "hidden xl:block font-bold truncate" %>
  <%= render_text_column value: t(".updated_at"), css: "hidden md:block font-bold " %>
</div>
