<li id="<%= dom_id page %>" class="flex items-center justify-between gap-x-6 py-5">
  <div class="min-w-0 w-full columns-2 lg:columns-3">
    <%= render_text_column value: link_to(page.slug.blank? ? "N/A" : page.slug, page_url(page)), css: "truncate mort-link-primary" %>
    <%= render_text_column value: page.title, css: "truncate" %>
    <%= render_datetime_column value: page.updated_at, css: "hidden lg:block" %>
  </div>
  <div class="flex flex-none items-center gap-x-4 ">
<!--    <a href="<%#= product_stock_items_url(product) %>" class=" rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Lokationer<span class="sr-only">, GraphQL API</span></a>-->
    <%= render_contextmenu resource: page, turbo_frame: "form", resource_class: Page, alter: true, links: [ edit_page_url(page), page_url(page) ] %>
  </div>
</li>
