<div id="modal_container">
  <%= form_with(model: @otp_confirmation_form, class: "mt-10", url: destroy_user_two_factor_app_path) do |form| %>
    <% if @otp_confirmation_form.errors.any? %>
      <div id="error_explanation" class="relative z-1 bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <ul>
          <% @otp_confirmation_form.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-2">
      <%= form.label :otp_code, t("devise.second_factor.enter_code"), class: "block text-base font-medium text-gray-900" %>
      <div class="flex gap-3 mt-2">
      <%= form.text_field :otp_code, id: "otp", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full", autocomplete: "off", placeholder: t("devise.second_factor.one_time_or_backup_code_placeholder") %>
      <%= form.submit t("devise.second_factor.disable"), class: "mort-btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
