<li id="<%= dom_id project %>" class="flex items-center justify-between gap-x-6 py-5">
  <div class="min-w-0 w-full columns-2 md:columns-4 lg:columns-6 xl:columns-10">
    <%= render_text_column value: show_resource_link(resource: project), css: "truncate mort-link-primary" do |value| %>
      <%= value %>
      <% if global_queries? Current.user %>
        <p class="text-xs"><%= show_resource_link(resource: project.tenant) %> </p>
      <% end %>
    <% end %>
    <%= render_text_column value: project.start_date, css: "hidden xl:block truncate" %>
    <%= render_text_column value: project.end_date, css: "hidden lg:block truncate" %>
    <%= render_text_column value: project.state, css: "truncate" %>
    <%= render_text_column value: project.is_billable, css: "hidden md:block truncate" %>
    <%= render_text_column value: project.priority, css: "hidden lg:block truncate" %>
    <%= render_text_column value: project.hourly_rate, css: "hidden xl:block truncate" %>
    <%= render_text_column value: project.estimated_minutes, css: "hidden xl:block truncate" %>
    <%= render_text_column value: project.actual_minutes, css: "hidden xl:block truncate" %>
    <%= render_datetime_column value: project.updated_at, css: "hidden md:block" %>
  </div>
  <div class="flex flex-none items-center gap-x-4 ">
<!--    <a href="<%#= project_stock_items_url(project) %>" class=" rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Lokationer<span class="sr-only">, GraphQL API</span></a>-->
    <%= render_contextmenu resource: project, turbo_frame: "form", resource_class: Project, alter: true, links: [ edit_project_url(project), project_url(project) ] %>
  </div>
</li>
