<div class="min-w-0 w-full columns-2 md:columns-4 lg:columns-6">
  <%= render_text_column value: t('.name'), sort: params, field: :name, css: "font-bold truncate" %>
  <%= render_text_column value: t(".location"), sort: params, field: "locations.name", css: "font-bold truncate" %>
  <%= render_text_column value: t(".ip_addr"), sort: params, field: :ip_addr, css: "hidden md:block font-bold text-right" %>
  <%= render_text_column value: t(".locale"), sort: params, field: :locale, css: "hidden md:block font-bold truncate" %>
  <%= render_text_column value: t(".time_zone"), sort: params, field: :time_zone, css: "hidden lg:block font-bold truncate" %>
  <%= render_text_column value: t(".updated_at"), css: "hidden lg:block font-bold " %>
</div>
