<% content_for :head do %>

  <title><%= I18n.t("tenant.mailer.send_invoice.page_title") %></title>
  <style>
  </style>
<% end %>
<% content_for :email_body do %>
  <h1 class="m-0 mb-6 text-base sm:leading-8 text-black font-semibold">
    <%= I18n.t("tenant.mailer.salutations", name: @tenant.name) %>
  </h1>
  <p class="m-0 leading-6">
    <%== t("tenant.mailer.send_invoice.confirmed_license", license: "Mortimer #{@tenant.license}") %>
  </p>
  <br>
  <p class="m-0 leading-6">
    <%== t("tenant.mailer.send_invoice.we_created_an_invoice_for_you", url: @pdf) %>
  </p>
  <div role="separator" class="false bg-slate-200" style="height: 1px; line-height: 1px; margin: 0; margin-top: 32px; margin-bottom: 32px">&zwj;</div>
  <p class="m-0 text-sm text-gray-500">
    <%== t("tenant.mailer.send_invoice.license_subscription_renewal", renewal_date: I18n.l(@tenant.license_expires_at, format: :short)) %>
  </p>
  <%= render MortimerMailSignature.new %>
<% end %>
