<div class="min-w-0 w-full columns-2 md:columns-4 lg:columns-6">
  <%= render_text_column value: t('.name'), sort: params, field: "employees.name", css: "font-bold truncate" %>
  <%= render_text_column value: t(".work_date"), sort: params, field: :work_date, css: "font-bold truncate" %>
  <%= render_text_column value: t(".work_minutes"), sort: params, field: :work_minutes, css: "hidden md:block font-bold text-right" %>
  <%= render_text_column value: t(".break_minutes"), sort: params, field: :break_minutes, css: "hidden md:block font-bold truncate" %>
  <%= render_text_column value: t(".ot_minutes"), css: "hidden lg:block font-bold truncate" %>
  <%= render_text_column value: t(".updated_at"), css: "hidden lg:block font-bold " %>
</div>
