<div class="flex-1 pb-8">
  <%#= render RssFeed.new dashboard: @dashboard %>

  <%= render HeaderProfile.new %>

  <div class="mt-8">
    <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">
      <h2 class="text-lg font-medium leading-6 text-gray-900"><%= I18n.t("profile.overview") %></h2>
      <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
        <%#= render StatsCard.new label: I18n.t("stats.workers_present"), value: Current.tenant.users.working.count,  css: "", url: "#" %>
        <%#= render StatsCard.new label: I18n.t("stats.hours_worked_this_week"), value: Current.tenant.working_hours_this_week,  css: "hidden sm:block", url: "#" %>
        <%#= render StatsCard.new label: I18n.t("stats.extra_hours_worked_this_week"), value: Current.tenant.extra_working_hours_this_week,  css: "hidden lg:block", url: "#" %>
        <%#= render StatsCard.new label: I18n.t("stats.sick_days_week"), value: Current.tenant.sick_absence_this_week,  css: "hidden xl:block", url: "#" %>
        <%# <%= render StatsCard.new label: I18n.t("stats.billable_hours"), value: 1_000,  css: "hidden lg:block", url: "#" %>
        <%#= render StatsCard.new label: I18n.t("stats.planned_vacation_days"), value: 1_000,  css: "hidden xl:block", url: "#" %>
        <!-- More items... -->
      </div>
    </div>

    <!-- Activity section -->
    <% punches = "%s_punches" % Current.tenant.id %>
    <%= turbo_stream_from punches %>
    <%= render ActivityList.new list: @activity_list, params: { controller: "punches" }, url: punches_url %>

  </div>

  <%= punch_button user: Current.user, punch_clock: @punch_clock %>
</div>
