<div class="bg-white py-10 sm:py-10">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-6 lg:grid-rows-3">

      <!-- Greetings -->
      <div class="relative lg:col-span-3">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-tl-[2rem]"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] p-6">
          <%= render HeaderProfile.new %>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5 lg:rounded-tl-[2rem]"></div>
      </div>

      <!-- Pomodoro Timer -->
      <div class="relative lg:col-span-3">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-tr-[2rem]"></div>
        <div data-controller="pomodoro" class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] p-6">
          <audio id="myAudio">
            <source src="https://cdn.glitch.com/80b71f2c-7aba-4044-9906-6b497988e08b%2Fpomodoro-tune.mp3?v=1609915412652" type="audio/mpeg">
          </audio>
          <h3 class="text-lg font-bold text-sky-700 mb-4">Pomodoro Timer</h3>
          <div class="mb-4 text-center">
            <span data-pomodoro-target="pomodorotimer" id="pomodoro-timer" class="text-4xl font-bold text-sky-700">25:00</span>
            <div class="mt-2 text-xs text-gray-500">Focus Time</div>
          </div>
          <div class="flex justify-center space-x-2">
            <button data-action="click->pomodoro#start" class="rounded-full bg-sky-700 px-4 py-2 text-white text-sm hover:bg-sky-800">Start</button>
            <button data-action="click->pomodoro#pause" class="rounded-full bg-sky-700 px-4 py-2 text-white text-sm hover:bg-sky-800">Pause</button>
            <button data-action="click->pomodoro#restart" class="rounded-full bg-sky-700 px-4 py-2 text-white text-sm hover:bg-sky-800">Reset</button>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5 lg:rounded-tr-[2rem]"></div>
      </div>

      <!-- Open Tasks -->

      <div class="relative lg:col-span-2">
        <div class="absolute inset-px rounded-lg bg-white"></div>
        <%= render Account::Progress.new if Current.get_user.tasks.uncompleted.any? %>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5"></div>
      </div>

      <!-- Product Roadmap -->
      <div class="relative lg:col-span-2">
        <div class="absolute inset-px rounded-lg bg-white"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] p-6">
          <div class="mb-2 flex">
            <h3 class="text-lg font-bold text-sky-700">Product Roadmap</h3>
            <button class="ml-auto inline-block rounded-full bg-gray-100 px-2 py-1 text-xs text-gray-500 hover:bg-gray-100">🚀</button>
          </div>
          <ul class="list-disc pl-5 text-slate-700 space-y-2 text-sm">
            <li class="text-emerald-700 opacity-50"><span class="font-semibold ">Q1:</span> Launch MVP</li>
            <li><span class="font-semibold">Q2:</span> Improve UI/UX</li>
            <li><span class="font-semibold">Q3:</span> Add integrations</li>
            <li><span class="font-semibold">Q4:</span> Prepare to scale</li>
          </ul>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5"></div>
      </div>

      <!-- Last Sync -->
      <div class="relative lg:col-span-2">
        <div class="absolute inset-px rounded-lg bg-white"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] p-6">
          <div class="mb-2 flex items-center">
            <div class="flex w-full flex-col">
              <% if Current.get_tenant.provided_services.any? %>
                <h3 class="text-lg font-bold text-sky-700"><%= t("dashboard.integrations.title") %></h3>
                <ul>
                  <% Current.get_tenant.provided_services.each do |ps| %>
                    <li class="flex space-x-2 items-center place-content-between lg:items-start lg:flex-col xl:flex-row">
                      <div class="flex lg:flex-col 3xl:flex-row">
                        <span class="text-slate-700 truncate "> <%= ps.name %></span>
                        <span class="text-slate-700 whitespace-nowrap"> <%= l(ps.last_sync_at, format: :short) rescue "-" %></span>
                      </div>
                      <%= link_to t("provided_service.sync_now"), provided_service_url(ps), class: "rounded-full bg-sky-700 px-4 py-2 text-2xs text-white hover:bg-sky-800" %>
                    </li>
                  <% end %>
                </ul>
              <% else %>
                <h3 class="text-lg font-bold text-sky-700"><%= t("dashboard.integrations.none_title") %></h3>
              <% end %>
            </div>
          </div>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5"></div>
      </div>

      <!-- Stats -->
      <div class="relative lg:col-span-3">
        <div class="absolute inset-px rounded-lg bg-white"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] p-6">
          <div class="flex items-center mb-4">
            <h3 class="text-lg font-bold text-sky-700"><%= t("dashboard.stats.title")  %></h3>
            <div data-controller="time-material-stats" class="ml-auto inline-block shadow rounded px-2 py-1 text-xs text-gray-500">
              <select id="range_view" name="range_view" data-action="change->time-material-stats#changeRangeView" data-time-material-target="rangeView" class="bg-transparent focus:outline-none text-gray-700">
                <option selected if range_view == "year"value="year"><%= t("dashboard.stats.year")  %></option>
                <option selected if range_view == "month"value="month"><%= t("dashboard.stats.month")  %></option>
                <option selected if range_view == "week" value="week"><%= t("dashboard.stats.week")  %></option>
                <option selected if range_view == "today" value="today"><%= t("dashboard.stats.today") %></option>
              </select>
            </div>
          </div>
          <%= render partial: "time_material_stats" %>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5"></div>
      </div>

      <!-- License Type -->
      <div class="relative lg:col-span-3">
        <div class="absolute inset-px rounded-lg bg-white"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] p-6">
          <div class="mb-2 flex">
            <h3 class="text-lg font-bold text-sky-700">License type:</h3>
            <span class="text-lg font-bold text-sky-700 pl-2"><%= Current.get_tenant.license %></span>
          </div>
          <% unless Current.get_tenant.license == "ambassador" %>
          <% expire = l(Current.get_tenant.license_expires_at, format: :short) rescue "-" %>
            <p class="text-slate-700 text-sm"><%= t("dashboard.license_type.expires", expires: expire).html_safe %></p>
            <%= link_to t("dashboard.license_type.manage"), edit_tenant_url(Current.get_tenant), class: "mt-4 rounded-full bg-sky-700 px-4 py-2 text-2xs text-white hover:bg-sky-800" %>
          <% end %>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5"></div>
      </div>

      <!-- Quote of the Day -->
      <div class="relative lg:col-span-6">
        <div class="absolute inset-px rounded-lg bg-white lg:rounded-b-[2rem]"></div>
        <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-b-[calc(2rem+1px)] p-6">
          <h3 class="text-lg font-bold text-sky-700 mb-2">Quote of the Day</h3>
          <p class="text-slate-700 italic text-sm"><%= "%s - %s" % [@quote[:quote], @quote[:author]] %></p>
        </div>
        <div class="pointer-events-none absolute inset-px rounded-lg shadow-sm ring-1 ring-black/5 lg:rounded-b-[2rem]"></div>
      </div>

    </div>
  </div>
</div>
