<div class="flex-1 pb-8">
  <%#= render RssFeed.new dashboard: @dashboard %>

      <%= render HeaderProfile.new %>

      <div class="mt-8">
        <div class="mx-auto max-w-6xl px-4 sm:px-6 lg:px-8">
          <h2 class="text-lg font-medium leading-6 text-gray-900"><%= I18n.t("profile.overview") %></h2>
          <div class="mt-2 grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5">
            <%= render StatsCard.new label: I18n.t("stats.workers_present"), value: 1_000,  css: "" %>
            <%= render StatsCard.new label: I18n.t("stats.hours_worked_this_week"), value: 1_000,  css: "hidden sm:block" %>
            <%= render StatsCard.new label: I18n.t("stats.billable_hours"), value: 1_000,  css: "hidden lg:block" %>
            <%= render StatsCard.new label: I18n.t("stats.planned_vacation_days"), value: 1_000,  css: "hidden xl:block" %>
            <%= render StatsCard.new label: I18n.t("stats.sick_days_ytd"), value: 1_000,  css: "hidden 2xl:block" %>
            <!-- More items... -->
          </div>
        </div>

        <!-- Activity section -->
        <%= render ActivityList.new %>

      </div>


  
</div>
