<div class="min-w-0 w-full columns-2 md:columns-3 lg:columns-4 xl:columns-6">
  <div class="flex justify-start">
    <%= form.text_field :name, value: (filter["name"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="flex justify-start">
    <%= form.text_field :street, value: (filter["street"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="flex justify-start">
    <%= form.text_field :city, value: (filter["city"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="flex justify-start">
    <%= form.text_field :phone, value: (filter["phone"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="flex justify-start">
    <%= form.text_field :email, value: (filter["email"] rescue ''), class: "mort-filter-field" %>
  </div>
</div>
