  <li id="new_filter" data-controller="filter" data-id="<%= @filter.id %>" class="pb-2 flex items-center justify-between gap-x-6" aria-labelledby="filter_title">
    <%= form_with model: @filter, class: "w-full flex items-center justify-between gap-x-6" do |form| %>
      <%= form.hidden_field :url, value: @url %>
      <%= form.hidden_field :filter_form, value: @filter_form %>
      <%= form.hidden_field :account_id, value: 1 %>
      <%= render partial: "filters/#{@filter_form}", locals: { form: form, filter: @json_filter } %>
      <div class="flex flex-none items-center gap-x-4 ">
        <%= form.button :submit do %>
          <div  class="text-gray-400 hover:font-bold hover:text-green-800 hover:cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" height="24"  width="24" fill="currentColor" stroke-width="1.5" stroke="currentColor" viewBox="0 -960 960 960"><path d="M400-240v-80h160v80H400ZM240-440v-80h480v80H240ZM120-640v-80h720v80H120Z"/></svg>            
          </div>
        <% end %>
        <%= form.button :delete, formmethod: :delete, url: @url, class: "fixed right-14" do %>
          <div  class="text-gray-400 hover:font-bold hover:text-red-800 hover:cursor-pointer">
            <svg  xmlns="http://www.w3.org/2000/svg" height="24" width="24" fill="currentColor" stroke-width="1.5" stroke="currentColor" viewBox="0 -960 960 960"><path d="M813-61 61-813l43-43 752 752-43 43ZM595-450l-60-60h185v60H595ZM385-660l-60-60h515v60H385Zm15 420v-60h160v60H400ZM240-450v-60h184v60H240ZM120-660v-60h94v60h-94Z"/></svg>
          </div>
        <% end %>
      </div>
    <% end %>
  </li>
