<div class="min-w-0 w-full columns-2 md:columns-4 lg:columns-6">
  <div class="flex justify-start">
    <%= form.text_field :name, value: (filter["name"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="flex justify-start">
    <%= form.text_field :work_date, value: (filter["work_date"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="flex justify-end">
    <%= form.text_field :work_minutes, value: (filter["work_minutes"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="flex justify-start">
    <%= form.text_field :break_minutes, value: (filter["break_minutes"] rescue ''), class: "mort-filter-field" %>
  </div>
  <div class="flex justify-start">
    <%= form.text_field :ot_minutes, value: (filter["ot_minutes"] rescue ''), class: "mort-filter-field" %>
  </div>
</div>
