<%= turbo_frame_tag "#{Current.user.id}_list_header" do %>
  <!-- Page Header -->
  <% 
    if divider
      css = "border-b border-slate-100 mt-8 pb-5"
      title_css = "text-base font-semibold leading-6 pl-6 text-gray-900"
    else
      css = "mt-8 pb-5 mr-6"
      title_css = "text-lg font-semibold leading-6 pl-8 text-gray-900"
    end
  %>
  <div data-controller="header" class="<%= css %>">
    <div class="flex items-center sm:justify-between">
      <div class="sm:w-0 flex-1">
        <input name="batch[all]" type="hidden" value="0" autocomplete="off">
        <input class="hidden batch mort-form-checkbox ml-2" type="checkbox" value="1" checked="checked" name="batch[all]" id="batch_all">
        <span id="message-heading" data-action="click->list#reload" class="cursor-pointer <%= title_css %>"><%= t("#{ resource_class.table_name}.list.title") %></span>
        <p class=" mt-1 truncate pl-2 text-sm text-gray-500">
          <% case @filter_form %>
          <% when "background_jobs" %>
            <%= link_to t("Mission Control Jobs"), "/solid_queue_jobs", class: "mort-link-primary", data: { turbo_prefetch: "false" } %>
          <% when 'punch_cards' %>
            <%= link_to t(:payroll_order), new_modal_url(modal_form: 'payroll', resource_class: 'punch_card'), class: "inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10", data: { turbo_stream: true } %>
            <%= link_to t(:state_order), new_modal_url(modal_form: 'state', resource_class: 'punch_card'), class: "inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10", data: { turbo_stream: true } %>
          <% when 'users' %>
            <%# TODO must implement when we release punches = link_to_user_status %>
            <%#= link_to t("user_invitations.link"), user_invitations_url, class: "inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10", data: { turbo_stream: true } %>
          <% when 'teams' %>
            <%# TODO must implement when we release punches  link_to_team_users_status('all') %>
          <% end %>
          <%= link_to filter_url(@filter, filter: {url: resources_url}), data: { turbo_method: :delete }, class: "group relative ml-2 h-3.5 w-3.5 rounded-xs hover:bg-gray-500/20" do %>
            <span class=" <%= "hidden" unless any_filters? %> inline-flex items-center rounded-md bg-gray-50 px-1.5 py-0.5 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
              <%= t("filters.filtered") %>
              <span class="sr-only">Remove</span>
              <svg viewBox="0 0 14 14" class="h-3.5 w-3.5 stroke-gray-700/50 group-hover:stroke-gray-700/75">
                <path d="M4 4l6 6m0-6l-6 6" />
              </svg>
              <span class="absolute -inset-1"></span>
              </button>
            </span>
          <% end if any_filters? %>
          <%= link_to batch_url(@batch, batch: {url: resources_url+"?replace=true", action: :destroy}), data: { turbo_method: :delete }, class: "group relative ml-2 h-3.5 w-3.5 rounded-xs hover:bg-gray-500/20" do %>
            <span class=" <%= "hidden" unless @batch&.batch_set? %> inline-flex items-center rounded-md bg-gray-50 px-1.5 py-0.5 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
              <%= t("filters.batched") %>
              <span class="sr-only">Remove</span>
              <svg viewBox="0 0 14 14" class="h-3.5 w-3.5 stroke-gray-700/50 group-hover:stroke-gray-700/75">
                <path d="M4 4l6 6m0-6l-6 6" />
              </svg>
              <span class="absolute -inset-1"></span>
              </button>
            </span>
          <% end if @batch&.batch_set? %>
        </p>
      </div>

      <div class="mt-0 flex items-center sm:ml-6 sm:flex-shrink-0 sm:justify-start">
        <% if params[:controller] == "background_jobs" && Current.get_user.superadmin? %>
          <%= link_to( show_background_job_toggle_label, toggle_background_jobs_url, data: { turbo_stream: true}, class: "mort-btn-primary", role: "menuitem", tabindex: "-1", id: "user-menu-item-0")  %>
        <% end %>
        <% case params[:controller]
           when "settings";
           when "calls"; %><%= link_to("New Call", new_call_path, data: { turbo_stream: true}, class: "mort-btn-primary", role: "menuitem", tabindex: "-1", id: "user-menu-item-0")  %>
        <% when "users"; %><%= link_to( t("profile.invite_new_user"), users_invitations_new_url, data: { turbo_stream: false}, class: "mort-btn-primary mr-2", role: "menuitem", tabindex: "-1", id: "user-menu-item-0") unless Current.user.user?  %>
        <% else; %>
        <%= link_to(new_resource_url, id: "new_list_item", class: "-my-2 flex items-center rounded-md p-2 text-gray-400 hover:text-gray-600 focus:outline-hidden focus:ring-1 focus:ring-sky-200", data: { turbo_frame: "form" }) do %>
            <span class="sr-only">Add new</span>
            <span class="inline-flex items-center rounded-md bg-white px-1.5 py-0.5 text-xs font-medium text-gray-600 sm:ring-1 ring-inset ring-gray-500/10">
              <%= render Icons::Add.new css: "h-6 text-gray-400" %>
              <span class="hidden pl-2 sm:inline text-gray-400 text-2xs"><%= t("#{ resource_class.table_name}.list.new") %></span>
            </span>
          <% end if user_can_create? %>
        <% end %>

        <span class="batch hidden items-center group rounded-md bg-gray-100 px-2 py-1.5 text-xs font-medium text-gray-600 hover:text-white hover:bg-gray-400 sm:ring-1 ring-inset ring-gray-500/10">
          <input type="hidden" name="url" value="<%= resources_url %>">
          <input type="submit" name="commit" value="Vælg" class="text-gray-400 group-hover:text-white text-2xs" data-disable-with="Vælg">
        </span>

        <div class="relative ml-3 inline-block text-left">
          <%= render_contextmenu list: @resources, resource_class: resource_class %>
        </div>
      </div>
    </div>
  </div>
<% end %>
