<div class="flex justify-between items-start">
  <div>
    <h1 class="font-bold text-2xl md:text-4xl"> <%= t("#{resource_class.table_name}.list.title") %> </h1>
    <% case @filter_form %>
    <% when 'punch_cards' %>
      <%= link_to t(:payroll_order), modal_new_url(modal_form: 'payroll', resource_class: 'punch_card'), class: "inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10", data: { turbo_stream: true } %>
      <%= link_to t(:state_order), modal_new_url(modal_form: 'state', resource_class: 'punch_card'), class: "inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10", data: { turbo_stream: true } %>
    <% when 'employees' %>
      <%= link_to t("employees.list.employee_status"), pos_employees_url(api_key: "123"), class: "inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10", target: "_blank", data: { turbo_frame: '_top', turbo_stream: true } %>
    <% when 'teams' %>
      <%= link_to t("teams.list.employee_status"), pos_employees_url(t: "all", api_key: "123"), class: "inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10", target: "_blank", data: { turbo_frame: '_top', turbo_stream: true } %>
    <% end %>
  </div>
  <div class="grid gap-2 grid-cols-1 lg:grid-cols-2 items-center">
    <%#= render partial: 'search', locals: { klass: :employee }  %>
    <div class="hidden md:block">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <div class="flex gap-2 justify-end">
      <%= link_to t("#{ resource_class.table_name}.list.new"), new_resource_url, class: "mort-btn-primary" %>
    </div>
  </div>
</div>
