<div class="flex justify-between items-start">
  <div>
    <h1 class="font-bold text-2xl md:text-4xl"> <%= t("#{resource_class.table_name}.list.title") %> </h1>
    <% case @filter_form %>
    <% when 'customers' %>
      <%= link_to t(".sync_with_ERP"), erp_pull_customers_url, class: "mort-link-primary", data: { turbo_prefetch: "false" } %>
    <% when 'products' %>
      <%= link_to t(".sync_with_ERP"), erp_pull_products_url, class: "mort-link-primary", data: { turbo_prefetch: "false" } %>
    <% when 'invoices' %>
      <%= link_to t(".sync_with_ERP"), erp_pull_invoices_url, class: "mort-link-primary", data: { turbo_prefetch: "false" } %>
    <% when 'punch_cards' %>
      <%= link_to t(:payroll_order), new_modal_url(modal_form: 'payroll', resource_class: 'punch_card'), class: "inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10", data: { turbo_stream: true } %>
      <%= link_to t(:state_order), new_modal_url(modal_form: 'state', resource_class: 'punch_card'), class: "inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10", data: { turbo_stream: true } %>
    <% when 'users' %>
      <%= link_to_user_status %>
      <%#= link_to t("user_invitations.link"), user_invitations_url, class: "inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10", data: { turbo_stream: true } %>
    <% when 'teams' %>
      <%= link_to_team_users_status('all') %>
    <% end %>
  </div>
  <div class="flex items-center">
    <%#= render partial: 'search', locals: { klass: :user }  %>
    <div class="hidden md:block mr-2 justify-end">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
    <div class="flex gap-2 justify-end">
      <% case params[:controller]
         when "users"; %><%= link_to("Invite New User", new_user_invitation_path, class: "mort-btn-primary", role: "menuitem", tabindex: "-1", id: "user-menu-item-0") unless Current.user.user?  %>
      <% else; %>
           <%= link_to t("#{ resource_class.table_name}.list.new"), new_resource_url, class: "mort-btn-primary", data: { turbo_frame: "form" } %>
      <% end %>
    </div>
  </div>
</div>
