<!-- List -->
<%= turbo_stream_from @resources_stream %>
<%= form_with model: @batch, id: "batch_form", data: { controller: "list" } do |form| %>
  <%= render partial: "header", locals: { batch_form: form } %>
  <div id="list" role="list" class="mb-16">
    <%= form.hidden_field :id%>
    <%= form.hidden_field :entity %>
    <%= form.hidden_field :ids_range, value: @ids_range %>
    <%= render List.new records: @records, pagy: @pagy, initial: true, params: params, user: Current.user %>
  </div>
<% end %>
<%#= render partial: "pagination" if @pagy.pages > 1 %>
