<%= turbo_frame_tag "form" do %>
  <!-- drawer -->
  <div class=" relative z-50" role="dialog" aria-modal="true" data-controller="form">
    <!-- Background backdrop, show/hide based on slide-over state. -->
    <div class="fixed inset-0"></div>

    <div class="fixed inset-0 overflow-hidden" data-action="keydown->form#keydown">
      <div class="absolute inset-0 overflow-hidden">
        <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16">
          <!--
            Slide-over panel, show/hide based on slide-over state.

            Entering: "transform transition ease-in-out duration-500 sm:duration-700"
              From: "translate-x-full"
              To: "translate-x-0"
            Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
              From: "translate-x-0"
              To: "translate-x-full"
          -->
          <div class="pointer-events-auto mt-0 w-screen max-w-md">
            <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
              <div class="sticky z-20 bg-white top-0 px-4 py-5 sm:px-6 border-b">
                <div class="flex items-start justify-between">
                  <% url = (resource_class == TimeMaterial && @resource.pushed_to_erp?) ? "-1" : edit_resource_url %>
                  <%= render CancelSaveForm.new cancel_url: resources_url, title: I18n.t("%s.form.show" % resource_class.table_name), edit_url: url  %>
                </div>
              </div>
              <!-- Main -->
              <div>
                <div class="px-4 pb-5 pt-5 sm:pt-0">
                    <%= render resource_class.form resource: @resource, editable: false %>
                </div>
              </div>
              <div class="fixed  w-full max-w-md z-20 bottom-0 bg-white px-4 py-5 sm:px-6 border-t">
                <!-- <div class="flex justify-between">
                  <%#= render CancelSaveForm.new cancel_url: resources_url, title: I18n.t("%s.form.show" % resource_class.table_name), edit_url: edit_resource_url    %>
                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
<!--
      <div class="grid gap-2 grid-cols-1 lg:grid-cols-2 items-center">
        <%= svg_qr_code_link(resource_url)  %>
        <%= link_to t("#{ resource_class.table_name}.form.edit"), edit_resource_url, class: "mort-btn-primary" %>
      </div>
    </div>
    <div class="relative grow top-32 px-4 w-full">
      <%= render resource_class.form resource: @resource, editable: false %>
    </div>
  </div>
-->