<% content_for :head do %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.7/jstz.min.js" integrity="sha512-pZ0i46J1zsMwPd2NQZ4IaL427jXE2RVHMk3uv/wPTNlBVp9AbB1L65/4YdrXRPLEmyZCkY9qYOOsQp44V4orHg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<% end %>
<div class="my-6 mx-auto w-72 sm:w-96">
  <div class="flex flex-shrink-0 items-center">
  <%= render_logo %>
  </div>
  <h1 class="font-bold text-gray-200 text-2xl"> <%= t("devise.invitations.edit.header") %> </h1>

  <div class="text-gray-600 text-sm"><%== t("devise.invitations.edit.description") %></div>
    <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put, data: { turbo: false} }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <%= f.hidden_field :invitation_token, readonly: true %>

      <% if f.object.class.require_password_on_accepting %>
        <div class="mort-field">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: "mort-form-text" %>
        </div>

        <div class="mort-field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "mort-form-text" %>
        </div>

        <div class="mort-field">
          <script>
            document.addEventListener("DOMContentLoaded", function() {
              var timezone = jstz.determine();
              document.getElementById("user_time_zone").value = timezone.name();
            });
          </script>
          <input type="text" id="user_time_zone" name="user[time_zone]" />
        </div>

      <% end %>

      <div class="actions mort-field">
        <%= f.submit t("devise.invitations.edit.submit_button"), class: "mort-btn-primary" %>
      </div>
      <div class="text-gray-400 text-xs"><%== t("devise.invitations.edit.branding_info", inviter_name: resource.invited_by.name) %></div>
    <% end %>

    <%- if devise_mapping.omniauthable? %>
      <hr class="my-4">
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= button_to I18n.t("devise.sign_in_with", provider: OmniAuth::Utils.camelize(provider)), 
          omniauth_authorize_path(resource_name, provider), 
          data: { turbo: false }, 
          class: "mort-btn-primary" %><br />
      <% end %>
    <% end %>
</div>

