<!-- generic_header.html -------------------------------------------------------------->
<title>M O R T I M E R <%= " - D E V " if Rails.env.local? %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

<%#  https://realfavicongenerator.net %>
<link rel="icon" href="<%= asset_path('mortimer_transparent_logo.png') %>" sizes="32x32">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('apple-touch-icon.png') %>"> 

<meta name="application-name" content="Mortimer">
<meta name="theme-color" content="#0284c7">

<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

<%= stylesheet_link_tag "tailwind", "inter-font", data_turbo_track: "reload" %>
<%= stylesheet_link_tag "application", data_turbo_track: "reload" %>
<%= javascript_importmap_tags %>

<%= yield :head %>
