<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="h-full bg-white">
  <head>
    <%= render partial: "layouts/generic_header" %>

    <%# <link rel="manifest" crossorigin="use-credentials" href="/manifest.json?start_url=<%= request.url %>
    <%#= tag :meta, name: :vapid_public_key, content: Rails.application.credentials.vapid.public_key %>

  </head>
  <body class="h-full w-full">
    <%= turbo_stream_from "#{Current.user.id}_noticed/notifications" %>
    <%= render NavigationComponent.new items: menu_items %>
    <main class="m-4 mt-20">
      <%= yield %>
      <%= turbo_frame_tag "tooltip", class: "absolute", target: "_top" %>
      <%= turbo_frame_tag "form" %>

    </main>
    <%# 
    in honor of Tailwind not being able to know 'tags' in advance
    span(class: "hidden mort-flash-info mort-flash-error mort-flash-success mort-flash-warning mort-flash-notice mort-flash-timedout mort-flash-alert") %>
    <%= render FlashComponent.new flash: flash %>
    <remote-modal-container></remote-modal-container>
  </body>
</html>
