<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="h-full bg-white">
  <head>
    <%= render partial: "layouts/generic_header" %>

    <%# <link rel="manifest" crossorigin="use-credentials" href="/manifest.json?start_url=<%= request.url %>
    <%#= tag :meta, name: :vapid_public_key, content: Rails.application.credentials.vapid.public_key %>

  </head>
  <body class="flex flex-row h-screen w-full">
    <%= turbo_frame_tag "tooltip", class: "absolute", target: "_top" %>
    <%= turbo_stream_from "#{Current.user.id}_noticed/notifications" if Current.user %>
    <%= render NavigationComponent.new items: menu_items %>
    <main class="grow-0 w-full p-4 pt-20">
      <%= yield %>
    </main>
    <%# 
    in honor of Tailwind not being able to know 'tags' in advance
    span(class: "hidden mort-flash-info mort-flash-error mort-flash-success mort-flash-warning mort-flash-notice mort-flash-timedout mort-flash-alert") 
    span(class: "hidden border-gray-500 border-red-500 border-fuchsia-500 border-blue-500 border-green-500 border-yellow-500 border-sky-500 border-orange-500 border-lime-500 border-cyan-500 border-pink-500 border-amber-500 border-stone-500")
    %>
    <%= render FlashComponent.new flash: flash %>
    <remote-modal-container></remote-modal-container>
    <%= turbo_frame_tag "form" %>
  </body>
</html>
