<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="h-full bg-white">
  <head>
    <%= render partial: "layouts/generic_header" %>
    <%#= tag :meta, name: :vapid_public_key, content: Rails.application.credentials.vapid.public_key %>
  </head>
  <body class="h-full">
    <!-- tooltip -->
    <%= turbo_frame_tag "tooltip", class: "absolute", target: "_top" %>

    <!-- streams for notifications, menu, profile -->
    <%= turbo_stream_from "#{Current.user.id}_noticed/notifications" if Current.user %>

    <!-- view -->
    <div data-controller="menu page">

      <!-- Before menu -->
      <div >

        <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
        <%= render_mobile_sidebar %>

        <!-- Static sidebar for desktop -->
        <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
          <!-- Sidebar component, swap this element with another sidebar if you like -->
          <%= render SidebarComponent.new %>
        </div>

      </div>
      <!-- End menu -->

      <div class="lg:pl-72">
        <%= render_topbar %>
        <main class="px-0 py-2">
          <%= yield %>


          <!-- Before Sidebar Form -->
          <%= turbo_frame_tag "form" %>
          <!-- End Sidebar Form -->

          <filter-container> </filter-container>
          <!-- Before filters -->
          <div class="hidden fixed w-5/6 lg:w-1/3 top-16 right-0 bg-white border-l shadow-xl h-screen z-30 p-3">
            <div class="relative flex w-full items-center">
              <h1 class="my-4">Filters</h1>
              <div class="absolute right-2">
                <button aria-label="close" type="submit" formmethod="dialog" class="rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-sky-500 focus:ring-offset-2">
                  <span class="sr-only">Close</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                  </svg>
                </button>
              </div>
            </div>
            <hr>
            <!--
              This example requires some changes to your config:
              
              ```
              // tailwind.config.js
              module.exports = {
                // ...
                plugins: [
                  // ...
                  require('@tailwindcss/forms'),
                ],
              }
              ```
            -->
            <!-- Filter selector -->
            <div>
              <div class="sm:hidden">
                <label for="tabs" class="sr-only">Select a tab</label>
                <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
                <select id="tabs" name="tabs" class="block mt-2 w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
                  <option selected>Introduction</option>
                  <option>Date</option>
                  <option>Field</option>
                  <option>Scope</option>
                </select>
              </div>
              <div class="hidden sm:block">
                <div class="border-b border-gray-200">
                  <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                    <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                    <a href="#" class="whitespace-nowrap border-b-2 border-transparent px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Introduction</a>
                    <a href="#" class="whitespace-nowrap border-b-2 border-indigo-500 px-1 py-4 text-sm font-medium text-indigo-600" aria-current="page">Date</a>
                    <a href="#" class="whitespace-nowrap border-b-2 border-transparent px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Field</a>
                    <a href="#" class="whitespace-nowrap border-b-2 border-transparent px-1 py-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700">Scope</a>
                  </nav>
                </div>
              </div>
            </div>
            <div class="hidden" id="introduction">
              <h3>Introduction to filtering</h3>
              <p class="my-2">You can filter on one of the date fields in this table</p>
              <p class="my-2">You can filter on one/more of the fields values in this table</p>
              <p class="my-2">You can filter on one of the scopes in this table.</p>
            </div>
            <div class="hidden" id="date">
              <div>
                <div class="flex flex-row items-center">
                  <label class="mr-2 text-nowrap text-gray-400" for="">Date field</label>
                  <select name="" id="" class="mort-form-select mt-2">
                    <option value="">date</option>
                    <option value="">created_at</option>
                    <option value="">updated_at</option>
                    <option value="">invoiced_at</option>
                  </select>
                </div>
                <label class="mr-2 text-gray-400" for="">Period</label>
                <ul class="w-full">
                  <li class="w-full my-1 px-3">Today</li>
                  <li class="w-full my-1 px-3">Yesterday</li>
                  <li class="w-full my-1 px-3">This week</li>
                  <li class="w-full my-1 px-3">Last week</li>
                  <li class="w-full bg-gray-100 font-bold my-1 px-3">This month</li>
                  <li class="w-full my-1 px-3">Last month</li>
                  <li class="w-full my-1 px-3">Last 3 months</li>
                  <li class="w-full my-1 px-3">Last year</li>
                </ul>
                <div class="px-3 mt-3">
                  <h3 class="text-gray-400">Custom</h3>
                  <div class="grid items-center">
                    <div class="flex columns-2 items-center">
                    <label class="mr-2 grow" for="">from</label>
                    <input type="date" class="mort-form-text w-3/4">
                    </div>
                    <div class="flex columns-2 items-center">
                    <label class="mr-2 grow" for="">to</label>
                    <input type="date" class="mort-form-text w-3/4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="hiden " id="field">
              <ul role="list" class="-mx-2 mt-2 space-y-1">
                <li>
                  <!-- Current: "bg-gray-50", Default: "hover:bg-gray-50" -->
                  <a href="#" class="block rounded-md bg-gray-50 py-2 pl-10 pr-2 text-sm font-semibold leading-6 text-gray-700">ID</a>
                </li>
                <li>
                  <div>
                    <button type="button" class="flex w-full items-center gap-x-3 rounded-md p-2 text-left text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50" aria-controls="sub-menu-1" aria-expanded="false">
                      <!-- Expanded: "rotate-90 text-gray-500", Collapsed: "text-gray-400" -->
                      <svg class="h-5 w-5 rotate-90 shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                      </svg>
                      Customer
                    </button>
                    <!-- Expandable link section, show/hide based on state. -->
                    <ul class="mt-1 px-2" id="sub-menu-1">
                      <li class="bg-sky-100 rounded-md">
                        <a href="#" class="block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-sky-600  hover:bg-gray-50">Name</a>
                      </li>
                      <li>
                        <a href="#" class="block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-gray-700 hover:bg-gray-50">Street</a>
                      </li>
                      <li>
                        <a href="#" class="block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-gray-700 hover:bg-gray-50">City</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div>
                    <button type="button" class="flex w-full items-center gap-x-3 rounded-md p-2 text-left text-sm leading-6 text-gray-700 hover:bg-gray-50" aria-controls="sub-menu-2" aria-expanded="false">
                      <!-- Expanded: "rotate-90 text-gray-500", Collapsed: "text-gray-400" -->
                      <svg class="h-5 w-5 shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                      </svg>
                      Project
                    </button>
                    <!-- Expandable link section, show/hide based on state. -->
                    <ul class="hidden mt-1 px-2" id="sub-menu-2">
                      <li>
                        <a href="#" class="block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-gray-700 hover:bg-gray-50">GraphQL API</a>
                      </li>
                      <li>
                        <a href="#" class="block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-gray-700 hover:bg-gray-50">iOS App</a>
                      </li>
                      <li>
                        <a href="#" class="block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-gray-700 hover:bg-gray-50">Android App</a>
                      </li>
                      <li>
                        <a href="#" class="block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-gray-700 hover:bg-gray-50">New Customer Portal</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div>
                    <button type="button" class="flex w-full items-center gap-x-3 rounded-md p-2 text-left text-sm leading-6 text-gray-700 hover:bg-gray-50" aria-controls="sub-menu-2" aria-expanded="false">
                      <!-- Expanded: "rotate-90 text-gray-500", Collapsed: "text-gray-400" -->
                      <svg class="h-5 w-5 shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                        <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                      </svg>
                      Product
                    </button>
                    <!-- Expandable link section, show/hide based on state. -->
                    <ul class="hidden mt-1 px-2" id="sub-menu-2">
                      <li>
                        <a href="#" class="block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-gray-700 hover:bg-gray-50">name</a>
                      </li>
                      <li>
                        <a href="#" class="block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-gray-700 hover:bg-gray-50">iOS App</a>
                      </li>
                      <li>
                        <a href="#" class="block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-gray-700 hover:bg-gray-50">Android App</a>
                      </li>
                      <li>
                        <a href="#" class="block rounded-md py-2 pl-9 pr-2 text-sm leading-6 text-gray-700 hover:bg-gray-50">New Customer Portal</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="border border-sky-200 rounded-md">
                  <a href="#" class="block rounded-md py-2 pl-10 pr-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50">About</a>
                </li>
                <li>
                  <a href="#" class="block rounded-md py-2 pl-10 pr-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50">Time</a>
                </li>
                <li>
                  <a href="#" class="block rounded-md py-2 pl-10 pr-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50">Rate</a>
                </li>
                <li>
                  <a href="#" class="block rounded-md py-2 pl-10 pr-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50">Quantity</a>
                </li>
                <li>
                  <a href="#" class="block rounded-md py-2 pl-10 pr-2 text-sm font-semibold leading-6 text-gray-700 hover:bg-gray-50">Unit</a>
                </li>
              </ul>
            </div>
            <div class="hidden mt-4" id="scope">
              <!--
                This example requires some changes to your config:
                
                ```
                // tailwind.config.js
                module.exports = {
                  // ...
                  plugins: [
                    // ...
                    require('@tailwindcss/forms'),
                  ],
                }
                ```
              -->
              <fieldset>
                <legend class="text-sm font-semibold leading-6 text-gray-900">User</legend>
                <p class="mt-1 text-sm leading-6 text-gray-600">Whose transactions would you like to see?</p>
                <div class="mt-3 space-y-4">
                  <div class="flex items-center">
                    <input id="email" name="notification-method" type="radio" checked class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                    <label for="email" class="ml-3 block text-sm font-medium leading-6 text-gray-900">Mine</label>
                  </div>
                  <div class="flex items-center">
                    <input id="sms" name="notification-method" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                    <label for="sms" class="ml-3 block text-sm font-medium leading-6 text-gray-900">Those of my team</label>
                  </div>
                  <div class="flex items-center">
                    <input id="push" name="notification-method" type="radio" class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                    <label for="push" class="ml-3 block text-sm font-medium leading-6 text-gray-900">Everybody's</label>
                  </div>
                  <input type="text" class="border-0 border-b border-gray-300 text-sm w-full" placeholder="named users/teams">
                </div>
              </fieldset>
              <div class="mt-4">
                <label for="" class="text-sm">Customers</label>
                <select name="" id="" class="mort-form-text">
                  <option value="">Sindico</option>
                </select>
              </div>
              <div class="mt-4">
                <label for="" class="text-sm">Projects</label>
                <select name="" id="" class="mort-form-text">
                  <option value="">Cloud-mg</option>
                </select>
              </div>
              <div class="mt-4">
                <label for="" class="text-sm">Products</label>
                <select name="" id="" class="mort-form-text">
                  <option value="">web-hosting</option>
                </select>
              </div>
            </div>
          </div>
          <div class="hidden fixed bottom-0 bg-slate-100 h-32 z-40 w-full px-2">
            <label for="" class="text-xs">Name</label>
            <input type="text" class="mort-form-text">
            <div class="actions flex justify-end">
            <button class="mort-btn-primary mt-2 mr-2">set</button>
            <button class="mort-btn-secondary mt-2">clear</button>
            </div>
          </div>
          <!-- END filters -->


        </main>
      </div>
    </div>

    <%# 
    in honor of Tailwind not being able to know 'tags' in advance
    span(class: "hidden mort-flash-info mort-flash-error mort-flash-success mort-flash-warning mort-flash-notice mort-flash-timedout mort-flash-alert") 
    span(class: "hidden border-gray-500 border-red-500 border-fuchsia-500 border-blue-500 border-green-500 border-yellow-500 border-sky-500 border-orange-500 border-lime-500 border-cyan-500 border-pink-500 border-amber-500 border-stone-500")
    %>
    <%= render FlashComponent.new flash: flash %>

    <!-- Before ModalContainer -->
    <remote-modal-container></remote-modal-container>
    <!-- End ModalContainer -->

  </body>
</html>
