<li id="<%= dom_id account %>" class="flex items-center justify-between gap-x-6 py-5">
  <div class="min-w-0 w-full columns-2 md:columns-3 lg:columns-4">
    <%= render_text_column    field: link_to(account.name, account_url(account)), css: "truncate text-sky-500" %>
    <%= render_number_column  field: account.locale, css: "text-right" %>
    <%= render_text_column    field: account.time_zone, css: "hidden md:block" %>
    <%= render_date_column    field: account.updated_at, css: "hidden lg:block" %>
  </div>
  <div class="flex flex-none items-center gap-x-4 ">
<!--    <a href="<%#= product_stock_items_url(product) %>" class=" rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Lokationer<span class="sr-only">, GraphQL API</span></a>-->
    <%= render_contextmenu resource: account %>
  </div>
</li>
