<div data-controller="profile" class="mx-auto w-72 sm:w-96">
  <h1 class="font-bold text-gray-200 text-2xl"> <%= t("users.edit_profile.name") %> </h1>

  <h3>Mortimer version:
    <span class="text-xs font-thin"><%= ENV["MORTIMER_VERSION"] %></span>
  </h3>
  

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { profile_target: "buttonForm" }, html: { class: "group mort-form", method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <% if Current.user.superadmin? %>
      <div class="mort-field">
        <%= f.label :tenant %><br />
        <%= f.select :tenant_id, Tenant.all.order(name: :asc).pluck([:name, :id]), {autofocus: true}, class: "mort-form-select" %>
      </div>
      <div class="mort-field">
        <%= f.label :global_queries %><br />
        <%= f.check_box :global_queries, class: "mort-form-text" %>
      </div>
    <% end %>

    <div class="mort-field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "mort-form-text" %>
    </div>

    <div class="mort-field">
      <%= f.label :pincode %><br />
      <%= f.text_field :pincode, autofocus: true, autocomplete: "off", class: "mort-form-text", placeholder: I18n.t("user.pincode.placeholder") %>
    </div>

    <div class="mort-field">
      <%= f.label :mugshot %><br />
      <%= f.file_field :mugshot, class: "mort-form-file" %>
      <% if resource.mugshot.attached? && resource.mugshot.persisted? %>
        <div class="w-auto max-w-32 relative border rounded-md shadow px-3 mt-4 flex">
          <%= image_tag resource.mugshot %>          
          <%= link_to(
              new_modal_url(modal_form: "delete", id: resource.id, attachment: "mugshot", resource_class: "user", modal_next_step: "accept"),
              data: { turbo_stream: true },
              # link_to((@links[1] || resource),
              class: "ml-5",
              role: "menuitem",
              tabindex: "-1") do %>
                <div class= "text-red-500">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor" stroke="currentColor" class="">
                    <path d="m376-300 104-104 104 104 56-56-104-104 104-104-56-56-104 104-104-104-56 56 104 104-104 104 56 56Zm-96 180q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520Zm-400 0v520-520Z"/>
                  </svg>
                </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="mort-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class: "mort-form-text" %>
    </div>

    <div class="mort-field">
      <button id="enable_notifications" class="hidden mort-btn-primary group-aria-busy:bg-white" 
        data-turbo="false" 
        data-profile-target="enableNotifications" 
        data-action="click->profile#enable">
        <span class="group-aria-busy:hidden block"><%= I18n.t("enable_notifications") %> </span>
        <div class="group-aria-busy:block hidden">
          <%= image_tag "motion-blur.svg", class: "size-6 fill-white" %>
        </div>
      </button>
      <button id="disable_notifications" class="hidden mort-btn-warning" 
        data-turbo="false" 
        data-transition-enter="transition ease-in duration-700"
        data-transition-enter-start="transform opacity-0"
        data-transition-enter-end="transform opacity-100"
        data-transition-leave="transition ease-out duration-700"
        data-transition-leave-start="transform opacity-100"
        data-transition-leave-end="transform opacity-0"        
        data-profile-target="disableNotifications" 
        data-action="click->profile#disable"><%= I18n.t("disable_notifications") %></button>
      </form>

    <div class="mort-field">
      <%= render TwoFactorField.new %>
    </div>

        
    <div class="mort-field">
      <%= f.label :locale %><br />
      <%= f.select :locale, User.locales.collect { |loc| [loc.value, loc.id] }, {}, class: "mort-form-select" %>
    </div>

    <div class="mort-field">
      <%= f.label :time_zone %><br />
      <%= f.select :time_zone, User.time_zones_for_select, {}, class: "mort-form-select text-sm" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="p-4 rounded-md shadow-sm bg-sky-100">

      <div class="mort-field">
        <%= f.label :password %> <br />
        <%= f.password_field :password, autocomplete: "new-password", class: "mort-form-text" %>
        <% if @minimum_password_length %>
          <em class="text-xs font-medium"><%= @minimum_password_length %> characters minimum</em>
        <% end %>
        <i class="text-xs">(leave blank if you don't want to change it)</i>
      </div>

      <div class="mort-field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mort-form-text" %>
      </div>

      <div class="mort-field">
        <%= f.label :current_password %><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "mort-form-text" %>
        <i class="text-xs">(we need your current password to confirm your change of password)</i>
      </div>
    </div>


    <div class="actions mort-field">
      <%= f.submit t(:save), class: "mort-btn-primary" %>
    </div>
  <% end %>

  <% if Current.user.admin? or Current.user.superadmin? %>
    <h2 class="font-bold text-2xl"><%= t("users.edit_profile.cancel.title") %></h2>
    <div>
      <p class="text-sm">
        <%= t("users.edit_profile.cancel.unhappy") %>
      </p> 
      <p>
        <%= button_to t("users.edit_profile.cancel.action"), 
        registration_path(resource_name), 
        data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, 
        method: :delete, 
        class: "mort-btn-alert mort-field" %>
      </p>
    </div>
  <% end %>

</div>