<div class="mx-auto w-72 sm:w-96">
  <div class="flex flex-shrink-0 items-center">
  <%= render_logo %>
  </div>
  <h1 class="font-bold text-4xl"> <%= t(".sign_up.title") %> </h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mort-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mort-form-text" %>
    </div>

    <div class="mort-field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "mort-form-text" %>
    </div>

    <div class="mort-field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mort-form-text" %>
    </div>

    <div class="actions mort-field">
      <%= f.submit t(".create"), class: "mort-btn-primary" %>
    </div>
  <% end %>

  <hr>
  <div class="actions mort-field">
    <%= render "users/shared/links" %>
  </div>

</div>

